/* Navbar */
.navStuff{
    background-color: #000324 !important;
}
.navBox{
    display: flex;
    justify-content: center;
}
.nav-item{
    display: flex;
    align-items: flex-end;
}
.logoLinks{
    color: white !important;
}
.reserve{
    text-align: center;
    border: 2px solid #E5FEFF;
    opacity: 1;
    
}
/* Hero Section */

.hero{
    background: url("/hotelMarkupAssets/header.jpg") no-repeat center;
    background-size: cover;
    height: 29rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: none;
    margin: none;
}

.hook{
    background: #000324;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;;
    opacity: 0.8;
    color: #E5FEFF;
    border: 2px solid orange;
}
.hookBody{
    border:2px blue solid ;
}
.paradise{
    display: flex;
    justify-content: space-around;
    
}
/* Overview */

.awards{
    border: 2px red solid;
    padding-bottom: 5%;
    margin-top: 4%;
}
.hamsterChairImg{
    width: 100%;
    height: 80%;
}

.awardsImg{
    display: flex;
    justify-content: space-around;
}
.coltext{
    border: 2px green solid;
}

/* Our Rooms */
.rooms{
    background: url("./hotelMarkupAssets/bg2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.roomCard{
    margin: 10px;
    border: aqua 2px solid;
    text-align: left;
}
.roomBox{
    display:flex;
    justify-content: center;
    border: orange 2px solid;
    text-align: Center;
    color: white;
    margin: 60px;
}
.headingText{
    text-align: center;
}
.packages{
    border: 2px yellow solid;
}
.blueText{
    color: #1F51A8;
}
.hamsterWedding{
    width: 100%;
    height: 75%;
}
.weddingImg{
    border: 2px purple solid;
}
.weddingText{
    border: blue 2px solid;
}
.allPackge{
    padding: 0px;
}

/* Amenites */
.amenitiesPage{
    background: url("./hotelMarkupAssets/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    border: 2px solid red;
    padding-top: 5em;
    padding-bottom: 10em;
}
.amenitiesOption{
    margin-top: 4em;
}
.amenImg{
    width: 50%;
}
.valet{
    width: 30%;
}