/* Navbar */
.navStuff{
    background-color: #000324 !important;
}
.navBox{
    display: flex;
    justify-content: center;
}
.nav-item{
    display: flex;
    align-items: flex-end;
}
.logoLinks{
    color: white !important;
}
.reserve{
    text-align: center;
    border: 2px solid #E5FEFF;
    opacity: 1;
    
}
/* Hero Section */

.hero{
    background: url("/hotelMarkupAssets/header.jpg") no-repeat center;
    background-size: cover;
    height: 29rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: none;
    margin: none;
}

.hook{
    background: #000324;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 7rem;
    padding-right: 7rem;;
    opacity: 0.8;
    color: #E5FEFF;
    /* border: 2px solid orange; */
}

.paradise{
    display: flex;
    justify-content: space-around;
    
}
/* Overview */

.awards{
    padding-bottom: 5%;
    margin-top: 4%;
}

.hamsterChairImg{
    width: 100%;
    height: 400px;
}

.awardsImg{
    display: flex;
    justify-content: space-around;
}
.awardLogo{
    width: 20%;
}

/* Our Rooms */
.rooms{
    background: url("./hotelMarkupAssets/bg2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.roomCard{
    margin: 10px;
    border: aqua 2px solid;
    text-align: left;
}
.roomBox{
    display:flex;
    justify-content: center;
    border: orange 2px solid;
    text-align: Center;
    color: white;
    margin: 60px;
}

/* Packages */
.packagesSection{
    margin-top: 3em;
    margin-bottom: 3em;
}
.headingText{
    text-align: center;
}

.blueText{
    color: #1F51A8;
}
.hamsterWedding{
    width: 100%;
    height: 250px;
}
.allPackge{
    padding: 0px;
}


/* Amenites */
.amenitiesPage{
    background: url("./hotelMarkupAssets/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5em;
    padding-bottom: 10em;
}
.amenitiesOption{
    margin-top: 4em;
}
.amenImg{
    width: 50%;
}
.valet{
    width: 30%;
}

/* Reserve Section */  
.reserveSection{
    background: #000324;
    color: white;
}
.inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.reserveCard{
    margin-top: 10em;
    border: none;
    margin-bottom: 10em;
}
.hamsterReserve{
    height: 30rem;
}
.submitBtn{
    display: flex;
    align-items: center;
}
input{
    width:100%;
}
footer{
    background: #000324;
    color: white;
    padding-top: 2em;
    padding-bottom: 3em;
}