@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.dosis{
    font-family: 'Dosis', sans-serif;
}
.source{
    font-family: 'Source Sans 3', sans-serif ;
}
/* Navbar */
.navbar{
    background-color: #000324 !important;
}
.navLogo{
    display: flex;
    justify-content: center;
}
.navContent{
    display: flex;
    justify-content: center;
}
.nav-item{
    display: flex;
    align-items: flex-end;
}
.logoLinks{
    color: white !important;
    font-family: 'Dosis' sans-serif;
}
.reserve{
    text-align: center;
    border: 2px solid #E5FEFF;
    opacity: 1;
    
}
.navContainer{
    align-items: flex-end;
}

/* Hero Section */

.hero{
    background: url("/hotelMarkupAssets/header.jpg") no-repeat center;
    background-size: cover;
    height: 29rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: none;
    margin: none;
}

.hook{
    background: #000324;
    border-radius: 0;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 7em;
    padding-right: 7em;
    opacity: 0.8;
    color: #E5FEFF;
    
    /* border: 2px solid orange; */
}
.hook2{
    background: #000324;
    border-radius: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 0.8;
    color: #E5FEFF;
    text-align: center;
    
    /* border: 2px solid orange; */
}

.paradise{
    display: flex;
    justify-content: space-around;
    
}
/* Overview */

.awards{
    padding-bottom: 5%;
    margin-top: 4%;
}

.hamsterChairImg{
    width: 100%;
    height: 400px;
    
}
.paradiseContent{
    margin-top: 20px;
}

.awardsImg{
    display: flex;
    justify-content: space-around;
}
.awardLogo{
    width: 20%;
}

/* Our Rooms */

.roomSection{
    background: url("./hotelMarkupAssets/bg2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}
.ourRoomsTitle{
    color: white;
    padding-bottom: 10px;
}
.ourRoomsMain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.queenRoom{
    margin: 10px;
}
.kingRoom{
    margin: 10px;
}
.suite{
    margin: 10px;
}
.roomCard{
    width: 24rem;
    margin: 1px;
    border:none;
    border-radius: 0;
    text-align: left;
} 
.roomBtn{
    background-color: #004CC7;
    border-radius: 0;
}

/* Packages */
.allPackage{
    font-family: "Source Sans 3", sans-serif;
}
.packagesSection{
    margin-top: 3em;
    margin-bottom: 3em;
}
.headingText{
    text-align: center;
}
.weddingPackage{
    display: flex;
    align-items: center;
}
.fullBloomPackage{
    display: flex;
    align-items: center;
}
.cheeseTourPackage{
    display: flex;
    align-items: center;
}
.blueText{
    color: #1F51A8;
}
.hamsterWedding{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}


/* Amenities */
.amenitiesPage{
    background: url("./hotelMarkupAssets/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5em;
    padding-bottom: 10em;
}
.amenitiesOption{
    margin-top: 4em;
}
.amenImg{
    width: 50%;
}
.valet{
    width: 30%;
}

/* Reserve Section */  
/* .reserveWhole{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.reserveSection{
    background: #000324;
    color: white;
}
.inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.reserveCard{
    margin-top: 10em;
    border: none;
    padding: none;
    
}
.hamsterReserve{
    height: 75%
}
.submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserveItems{
    border-radius: 0;
}
.checkBtn{
    border: solid 1px #000DC7;
}
input{
    width:100%;
}
footer{
    background: #000324;
    color: white;
    padding-top: 2em;
    padding-bottom: 3em;
}