.navStuff{
    background-color: #000324 !important;
}
.navBox{
    display: flex;
    justify-content: center;
}
.nav-item{
    display: flex;
    align-items: flex-end;
}
.logoLinks{
    color: white !important;
}
.reserve{
    text-align: center;
    border: 2px solid #E5FEFF;
    opacity: 1;
    
}
.hero{
    background: url("/hotelMarkupAssets/header.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: none;
    margin: none;
}

.hook{
    background: #000324;
    padding: 50px 150px 50px 100px;
    opacity: 0.8;
    color: #E5FEFF;
    border: 2px solid orange;
}
.hookBody{
    border:2px blue solid ;
}
.paradise{
    display: flex;
    justify-content: space-around;
    
}
.hamsterChairImg{
    width: 369px;
    height: 416px;
}
.awards{
    border: 2px red solid;
    padding-bottom: 50px;
}
.awardsImg{
    display: flex;
    justify-content: space-around;
}
.coltext{
    border: 2px green solid;
}
.roomCard{
    margin: 5px;
    border: aqua 2px solid;
    text-align: left;
}
.roomBox{
    display:flex;
    justify-content: center;
    border: orange 2px solid;
    text-align: center;
}
